version: 2.1

executors:
  go:
    docker:
      - image: cimg/go:1.18
    working_directory: ~/go-mockgen

jobs:
  test:
    executor: go
    steps:
      - checkout
      - run: go get github.com/mattn/goveralls
      - run:
          name: Run tests
          command: |
            go generate ./...
            goveralls -covermode=atomic -package=./... -race -service=circle-ci -v

workflows:
  version: 2
  test:
    jobs:
      - test
